In [53]:
import pandas as pd
import networkx as nx

side_path = 'D:\study\交通数据分析\公交线路.csv'
dot_path = 'D:\study\交通数据分析\公交站点.csv'

In [54]:
side1 = pd.read_csv(side_path, encoding='gbk')
dot1 = pd.read_csv(dot_path, encoding='gbk')
side2 = pd.DataFrame(side1)
dot2 = pd.DataFrame(dot1)
side2

         source     target  Weight
0        1号学生食堂    云艺公共教学楼       1
1           6号路  凤庆路口(双羊街)       1
2           6号路   天文台(金马路)       2
3           6号路      金马路中段       1
4         920医院   东陆桥(西园路)       1
...         ...        ...     ...
4082   龙马村(珥季路)  龙马村东(珥季路)       1
4083  龙马村东(珥季路)   中航城(珥季路)       1
4084  龙马村东(珥季路)   龙马村(珥季路)       1
4085    龙马社区居委会    中营(云秀路)       4
4086    龙马社区居委会   龙马村(云秀路)       1

[4087 rows x 3 columns]

In [55]:
dot2

              ID       LABEL        Lat         Lng
0       东站(环城南路)    东站(环城南路)  25.030291  102.733550
1           市博物馆        市博物馆  25.033260  102.728754
2          拓东路中段       拓东路中段  25.033655  102.723958
3            拓东路         拓东路  25.033546  102.718012
4       得胜桥(青年路)    得胜桥(青年路)  25.035074  102.716675
...          ...         ...        ...         ...
2179       城市山小区       城市山小区  25.037626  102.631558
2180  西园路口(滇缅大道)  西园路口(滇缅大道)  25.056524  102.679184
2181  昆建路口(虹山西路)  昆建路口(虹山西路)  25.057726  102.680367
2182         昆建路         昆建路  25.057856  102.680969
2183    省建工医院生活区    省建工医院生活区  25.057600  102.682687

[2184 rows x 4 columns]

In [56]:
side_q = list(side2.iloc[:, 0])
side_z = list(side2.iloc[:, 1])
dot = list(dot2.iloc[:, 0])

In [57]:
G=nx.Graph()
G.add_nodes_from(dot)
for i in range(0,len(side_z)-1):

IndentationError: expected an indented block (<ipython-input-57-65b838f698f4>, line 4)